/* Estilos para iPhone 15 y 15 Pro */
@media only screen and (width: 393px) and (height: 852px) and (-webkit-device-pixel-ratio: 3) {
    
}


:root {
    --aquamarine: aquamarine;
    --tomato: tomato;
    --hotpink: hotpink;
    --blueviolet: blueviolet;
    --skyblue: skyblue;
  }


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}



body {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#quiz {
    background: paleturquoise;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: coral;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question {
    font-size: 1.5rem;
    color: black;
}

.button {
    background-color: coral;
    color: white;
    width: 250px;
    font-size:  18px;
    padding: 10px 20px;
    margin: 6px 70px 6px;
    border: none;
    border-radius: 0.3rem;
}

.button:hover {
    cursor: pointer;
    background-color: #fc593c;
}